*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    overflow:scroll;
    
    background-color: rgb(247, 236, 224);
}


.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    margin-left: 40px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* padding-right: 10px; */
}

.menu li {
    margin: 0 10px;
}


.menu a {
    text-decoration: none;
    color: #fff;
}
.menu li a :hover{
    color: antiquewhite;
}
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
      
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        margin: 0;
        padding: 0;
        text-align: start;
        z-index: 1;
    }
    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 10px 0;
    }
  

    .menu-toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
button {
    border: 0cap;
}

button a{
    text-decoration: none;
border-radius: 0.5pc;
border-color: yellow;
margin: 5px;
border: 0cap;
    padding: 10px 20px;
    /* color:rgb(251, 183, 10);
    background-color: rgb(103, 101, 87);  */
    font-family: Georgia, 'Times New Roman', Times, serif;
font-size:16px;
cursor: pointer;
color: wheat;
    background-color:rgb(66, 66, 21);
    
}
button a:hover{
    /* color: wheat;
    background-color:rgb(66, 66, 21); */
    color:wheat;
    background-color: rgb(103, 101, 87); 
}
/* ---------------------------------------------------- */
.about{
    /* margin-top: 50px; */
    background-color:rgb(247, 236, 224);
    height: 50vh;
   
    padding: 50px 0;
}

.container_about {
    background-color:rgb(247, 236, 224);
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}



.about-content {
    background-color:rgb(247, 236, 224);
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-item {
    background-color:rgb(247, 236, 224);
    flex: 1;
    margin: 0 10px;
    padding: 20px;
   
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    /* box-sizing: border-box; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.about-item img{
    border: 4px solid rgb(122, 56, 3);
}

@media screen and (max-width: 767px ) {
    .about-content {
        flex-direction: column;
        text-align:start;
        margin-left: 0px;
       
    }
    .about{
        height: 120vh;
       
    }
}

/* experiance------------------------------------------------ */
.Experiance_1{
    background-color:rgb(247, 236, 224);
    margin-left: 40px;
    /* background-color: #f9f9f9; */
    height: 70vh;
    padding: 50px 0;
}

.container_Experiance_1 {
    background-color:rgb(247, 236, 224);
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}



.Experiance_1-content {
    background-color:rgb(247, 236, 224);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Experiance_1-item {
    background-color:rgb(247, 236, 224);
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    /* background-color: #fff; */
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    /* box-sizing: border-box; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

@media screen and (max-width: 767px) {
    .Experiance_1-content {
        flex-direction: column;
        text-align:start;
        margin-left: 0px;
    }
    .Experiance_1 {
        height: 230vh;
       
       
    }
}
/* Research.................................................................................... */
.Research{
    margin-left: 40px;
    /* margin-top: 50px; */
    /* background-color: #f9f9f9; */
    height: 70vh;
   
    padding: 50px 0;
}

.container_Research {
    max-width: 960px;
    margin: 0 ;
    margin: 0 auto;
    padding: 0 15px;
}



.Research-content {
    background-color:rgb(247, 236, 224);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Research-item {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    
    background-color:rgb(247, 236, 224);
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    /* box-sizing: border-box; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

@media screen and (max-width: 767px ) {
    .Research-content {
        flex-direction: column;
        text-align:start;
        margin-left: 0px;
       
    }
    .container_Research{
        margin-left: 40px;
    }
    .Research{
        height: 220vh;
        text-align: start;
       
      
    }

}
/* Education-------------------------------------------------------------------------------------------------------- */
.education{
    /* margin-top: 50px; */
    margin-left: 40px;
    /* background-color: #f9f9f9; */
    height: 70vh;
   /* position:inherit; */
    padding: 50px 0;
}

.container_education {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}



.education-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:rgb(247, 236, 224);
}

.education-item {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    /* background-color: #fff; */
    background-color:rgb(247, 236, 224);
    /* border: 1px solid #ccc; */
  
}

@media screen and (max-width: 767px ) {
   
    .education-content {
        flex-direction: column;
        text-align:start;
        margin-left: 0px;
       
    }
    .container_education{
        margin-left: 40px;
    }
    .education{
        height: 160vh;
        text-align: start;
       
    }
}
/* Skills--------------------------------------------------------------------------------------------------- */
/* .skills{
    padding-top: 200px;
    height: 200vh;
    padding-left: 120px;
    max-width: 960px;
    /* min-width: 100vh;*/
    /* box-sizing: border-box;  */
/* } */ 
/* .skills_div{
    padding-top: 20px;
    /* max-width: 960px; */
    /* display: flex;
    
}
.box {
    /* display: flex; */
    /* flex: 1; */
    /* text-align: center; */
    /* padding: 0px; */
    
    /* box-sizing: border-box; */
    /* border: 1px solid #ddd;  */
  /* } */
  /* .box div{ */
    /* border: 0.5px solid #ddd;  */
  /* } */ 
  /* @media screen and (max-width: 767px){
    .skills{
        margin: 0px;
        text-align: left;
        height: 100vh; */
        /* display:list-item; */
        /* align-items: center;

     
    } */
    /* .skills_div{
        margin: 0px;
        
        display:list-item;
        list-style: none;
        text-decoration: none;
        
      
    }
    .box{
        margin-left: 0px;
    } */

  /* } */
    
/* Skills---------------------------------------------------------------------------------------------------------- */
.skills{
   
    margin-left: 40px;
    margin-top: 100px;
    height: 50vh;
    padding: 50px 0;
}
.container_skills {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 15px;
    display: flex;
}
.tab{
    margin-top: 20px;
    display: flex;
}
.tb1{
    padding: 30px;
}
.tb2
{
    padding: 30px;
}
.tb3{
    padding: 30px;
}
.tb4{
    padding: 30px;
}
.hed{
    text-align: center;
}
@media screen and (max-width: 767px){
    .container_skills{
        display: list-item;
        list-style: none;
        text-align: start;
        margin-left: 0px;
        
    }
    .skills{
        text-align: start;
        height: 170vh;
        margin-left: 0px;
    }
    .tab{
        display: list-item;
        text-decoration: none;
        padding-top: 2px;
    }
    .hed{
        text-align: left;
    }
    .tb1 {
        padding-top: 10px;
    }
    .tb2 {
        padding-top: 2px;
    }
    .tb3 {
        padding-top: 2px;
    }
    .tb4 {
        padding-top: 2px;
    }
}
/* Contact------------------------------------------------------------------------------------------------------- */

.contact{
   
    margin-left: 140px;
    margin-top: 0px;
    height: 25vh;
    padding: 50px 0;
 
}

.styled-button {
    text-decoration: none;
    border: 0cap;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    
    cursor: pointer;
    /* border: 2px solid; */
    border-radius: 0.5pc;
    border-color: yellow;
   
  
    color: wheat;
    background-color:rgb(66, 66, 21);
   
    
 
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .styled-button a{
    text-decoration: none;
    color: wheat;
 
  }
  .contact_cont{
    display: flex;
    margin: 10px;
    text-decoration: none;
    text-wrap:wrap;
  }
  .styled-button:hover {
    color:rgb(251, 183, 10);
    background-color: rgb(103, 101, 87); 
   
    
  }
  @media screen and (max-width: 767px) {
    .contact{
        text-align: start;
        display: inline;
        height: 130vh;
    }
    .connections{
        text-align: start;
        display: list-item;
        list-style: none;
    }
    .styled-button{
        padding: 5px 2px;
        display: list-item;
    }
    .contact_cont{
        display:grid;
    }
  }
    /*footer-----------------------------------------------------------------------------------------------------  */
    


  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
